/*.white-1e1d7 {*/
/*    background-color:  hsl(var(--bc));*/
/*    color: hsl(var(--b1));*/
/*}*/

/*.black-3c85d {*/
/*    background-color: hsl(var(--b1));*/
/*    color:  hsl(var(--bc));*/
/*}*/

.white-1e1d7 {
    background-color:  hsla(var(--bc)/0.5);
    color: hsla(var(--b1));
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

.black-3c85d {
    background-color: hsla(var(--b1)/0.5);
    color:  hsla(var(--bc));
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

.glass-look {
    /* From https://css.glass */
    border-radius: 16px;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

body {
    background-image: url("https://tailwindcss.com/_next/static/media/hero-dark@90.a7a063e8f9d179fbd72b0b735c5797b7.jpg");
    
}